[{:itonami.blueprint/social-impact [:rail-safety :workforce-coordination :public-transit-reliability], :itonami.blueprint/domain :transport/rail-signal-crew-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "8312", :itonami.blueprint/name "Railway Brake, Signal and Switch Operator Coordination Practice", :itonami.blueprint/governor :rail-signal-crew-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8312", :itonami.blueprint/license "AGPL-3.0-or-later"}]
